<div class="w-full">
  <header class="container flex flex-row justify-between h-14 mx-auto border-b border-l border-r border-gray-500">
    <a href="index.html" class="flex flex-column items-center ml-16">
      <span class="font-bold font-press-start">kronaemmanuel</span>
    </a>
    <nav class="divide-x divide-gray-900 flex flex-column">
      {% for route in site.data.navigation_routes %}
        <a
          href="{{ route.link }}"
          class="{% if page.url == route.link %}bg-gray-50 text-red-500 font-medium{% endif %} font-light flex justify-center items-center px-6">
            {{ route.name }}
        </a>
      {% endfor %}
    </nav>
  </div>
</div>
