<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <!-- Fonts Import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&family=Press+Start+2P&display=swap" rel="stylesheet">

    <!-- Default Stylesheet -->
    <link rel="stylesheet" href="/assets/css/styles.css">

    {% feed_meta %}
    {% seo %}
  </head>
  <body class="bg-gray-100">
    {% include navigation_bar.html %}

    <section class="border-b border-gray-500">
      <div class="container mx-auto py-8 border-l border-r border-gray-500">
        <div class="prose prose-red mx-auto">
          {{ content }}
        </div>
      </div>
    </section>
    <section class="border-b border-gray-500">
      <div class="container mx-auto py-56 border-l border-r border-gray-500">
        {% include bouncing_text.html content="loading..."%}
      </div>
    </section>
  </body>
</html>
